<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4>Lista Salas</h4>
            
            {{#each salas}}
                <div class="card mt-2">
                    <div class="card-body">
                        <p>
                            <strong>Sala: </strong> {{sala}} <br>
                            <strong>Capacidade: </strong>{{capacidade}} <br>
                            <strong>Técnica(o): </strong>{{tecnico.tecnico}}
                        </p>
                        <form action="/rem-sala-db" method="POST">
                            <div class="align-right">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="btn btn-danger" type="submit">Remover</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            {{else}}    
                <div class="card mt-2">
                    <div class="card-body">
                        <h5>Não há salas para serem exibidas!</h5>
                    </div>
                </div>
            {{/each}}

        </div>    
    </div>
</div>