<div class="print">
    <div class="container mt-4">
        <p><strong>Data: {{dataSys}}</strong></p>
    </div>
    <div class="mt-2 flex-container">
        {{#each mapaManha}}    
            <div class="{{periodo}} item-container">
                <p>
                    <input type="hidden" class="dataIni" value="{{data}}">
                    <small><strong class="dataFin">{{data}}</strong></small><br>
                    <small>Período: {{periodo}}</small><br>
                    <small>Técnica(o): {{tecnico.tecnico}}</small><br>
                    <small><strong>{{turma.turma}}</strong></small><br> 
                    <small><strong>{{sala.sala}}</strong></small> 
                </p>       
            </div>        
        {{else}}    
            <div class="card-body">
                <h4>Sem mapas da manhã</h4>
            </div>
        {{/each}}
    </div>

    <div class="mt-2 flex-container">
        {{#each mapaTarde}}    
            <div class="{{periodo}} item-container">
                <p>
                    <input type="hidden" class="dataIni" value="{{data}}">
                    <small><strong class="dataFin">{{data}}</strong></small><br>
                    <small>Período: {{periodo}}</small><br>
                    <small>Técnica(o): {{tecnico.tecnico}}</small><br>
                    <small><strong>{{turma.turma}}</strong></small><br> 
                    <small><strong>{{sala.sala}}</strong></small> 
                </p>       
            </div>        
        {{else}}    
            <div class="card-body">
                <h4>Sem mapas da tarde</h4>
            </div>
        {{/each}}
    </div>

    <div class="mt-2 flex-container">
        {{#each mapaNoite}}    
            <div class="{{periodo}} item-container">
                <p>
                    <input type="hidden" class="dataIni" value="{{data}}">
                    <small><strong class="dataFin">{{data}}</strong></small><br>
                    <small>Período: {{periodo}}</small><br>
                    <small>Técnica(o): {{tecnico.tecnico}}</small><br>
                    <small><strong>{{turma.turma}}</strong></small><br> 
                    <small><strong>{{sala.sala}}</strong></small> 
                </p>       
            </div>        
        {{else}}    
            <div class="card-body">
                <h4>Sem mapas da noite</h4>
            </div>
        {{/each}}
    </div>


    <div class="row">
        <div class="col text-right">
            <button class="btn-print btn btn-primary mt-4" id="imprimir">Imprimir</button>
        </div>
    </div>    
</div>
<script>
(function( w, d ) {
   'use strict'; 

   d.querySelector( '.btn-print' ).addEventListener( 'click', function() { w.print(); }, false );

}( window, document ));
</script>
<script>
    
    function setData() {
        
        let d = document.getElementsByClassName('dataIni').length;
        let c = 0;

        while(c < d){

            let dataBruta = document.getElementsByClassName('dataIni')[c].value;
            
            //2020-01-03
            let dia = dataBruta.substr(8, 2);
            let mes = dataBruta.substr(5, 2);
            let ano = dataBruta.substr(0, 4);
            
            document.getElementsByClassName('dataFin')[c].innerHTML = dia + '/' + mes + '/' + ano;
            c++;
        }

        let qtdDivsM = document.getElementsByClassName('Manhã').length;
        let cm = 0;

        while(cm < qtdDivsM){
            document.getElementsByClassName('Manhã')[cm].style = 'background-color: #F0F8FF';
            cm++;
        }

        
        let qtdDivsT = document.getElementsByClassName('Tarde').length;
        let ct = 0;

        while(ct < qtdDivsT){
            document.getElementsByClassName('Tarde')[ct].style = 'background-color: #FFFAFA';
            ct++;
        }

        let qtdDivsN = document.getElementsByClassName('Noite').length;
        let cn = 0;

        while(cn < qtdDivsN){
            document.getElementsByClassName('Noite')[cn].style = 'background-color: #F8F8FF';
            cn++;
        }
        
                

    }

    window.onload=setData;   
</script>



