{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4>Insere no Mapa</h4>
            <form action="/add-mapa-db" method="POST">
                <div class="form-row mt-5">
                    <div class="form-group col-md-4">
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sala">Sala:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Opções</label>
                            </div>
                            <select name="sala" id="sala" class="custom-select">
                                <option value="0">Selecione a sala...</option>
                                {{#each salas}}
                                    <option value="{{_id}}">{{sala}}</option>
                                {{/each}}
                            </select>
                        </div>    
                    </div>
                    <div class="form-group col-md-4">
                        <label for="turma">Turma:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Opções</label>
                            </div>
                            <select name="turma" class="custom-select" id="inputGroupSelect01">
                                <option value="0" selected>Selecione a turma...</option>
                                {{#each turmas}}
                                    <option value="{{_id}}">{{turma}}</option>
                                {{/each}}
                            </select>
                        </div>  
                    </div>    
                </div>
                <div class="form-row">                                     
                    <div class="form-group col-md-4">
                        <label for="tecnico">Técnica(o):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Opções</label>
                            </div>
                            <select name="tecnico" class="custom-select" id="inputGroupSelect01">
                                <option value="0" selected>Selecione o técnico...</option>
                                {{#each tecnicos}}
                                    <option value="{{_id}}">{{tecnico}}</option>
                                {{/each}}
                            </select>
                        </div>                 
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Escolha o período</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodo" id="manha" value="m" checked>
                            <label class="form-check-label" for="manha">
                                Manhã
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodo" id="tarde" value="t">
                            <label class="form-check-label" for="tarde">
                                Tarde
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodo" id="noite" value="n">
                            <label class="form-check-label" for="noite">
                                Noite
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                       
                    </div>   
                </div>               
                <div class="form-group mt-3 align-right">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>                
            </form>
        </div>    
    </div>
</div>